.text-instance {
    display: flex;

    width: 500px;
    height: auto;
    background-color: white;
    box-shadow: 0 10px 40px #00000007;
    padding: 8px;

    margin: auto;
    position: relative;
    top: 100px;
}

.text-instance .textarea {
    flex: 1;
}

.text-instance:focus-within {
    outline: 2px solid #1bc47d;
}
